@textFont: 'Open Sans', sans-serif;
@headingFont: 'DM Serif Display', serif;

// colors
// #FE6959
// #FAA275

canvas {
  position: absolute;
    z-index: -1;
    background-color: white;
}

body {
  margin: 0;
  color: #323638;
  cursor: default;
}

a {
  text-decoration: none;
  color: #323638;
}

.index-page {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: @textFont;

  &__link {
    margin: 20px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.home-hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative;

  &__name {
    margin: 5px;
    font-size: 50px;
    font-family: @headingFont;
    letter-spacing: 5px;
    background-image: linear-gradient(45deg,
                   #FE6959,
                   #FF9000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  &__title {
    margin: 5px;
    font-size: 20px;
    font-family: @textFont;
    letter-spacing: 5px;
    transform: translate(85px, 60px);
    position: absolute;
    font-weight: bold;
  }
}

.media-svg {
  height: 45px;
  width: 45px;
  margin: 10px;
  transition: all .4s;
  fill: #323638;

  &:hover {
    fill: #ACF39D;
    transform: scale(1.2);
  }
}

.media-links {

}

.about {

  &__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    width: 950px;
    margin: 0 auto;
  }

  &__description {
    width: 600px;
    text-align: center;
    font-family: @textFont;
    line-height: 35px;
    font-weight: bold;
  }

  &__hero-and-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 30px;
    font-family: @headingFont;
  }

  &__skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }

  &__skill {
    margin: 10px;
    font-family: @textFont;
    font-weight: bold;
  }
}

.project-image {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-auto-flow: column;
  grid-gap: 10px;
  align-items: center;

}

.project {
  font-family: @textFont;

  &__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-family: @headingFont;
    font-size: 40px;
    letter-spacing: 2px;
  }

  &__description {
    width: 550px;
    text-align: center;
    line-height: 35px;
  }

  &__tech {
    display: flex;
  }

  &__github {

  }
}
