// FONTS
@textFont: 'Karla', sans-serif;
@headingFont: 'DM Serif Display', serif;

// COLORS
@textColor: #323638;
@backgroundColor: #fff;
@nameGradient-1: #FE6959;
@nameGradient-2: #FF9000;
@mediaHover: #ACF39D;
@blue: #4ECDC4;

canvas {
  position: absolute;
  z-index: -1;
  background-color: @backgroundColor;
}

body {
  margin: 0;
  color: @textColor;
  cursor: default;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: @textFont;

  &__link {
    margin: 20px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.home-hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
  position: relative;

  &__name {
    margin: 5px;
    font-size: 45px;
    font-family: @headingFont;
    letter-spacing: 5px;
    background-image: linear-gradient(45deg,
                   @nameGradient-2,
                   @nameGradient-1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__title {
    margin: 5px;
    font-size: 22px;
    font-family: @textFont;
    letter-spacing: 5px;
    transform: translate(85px, 60px);
    position: absolute;
    font-weight: bold;
  }
}

.media-svg {
  height: 45px;
  width: 45px;
  margin: 0 10px;
  transition: all .4s;
  fill: @textColor;

  &:hover {
    fill: @mediaHover;
    transform: scale(1.2);
  }
}

.media-links {
  margin-top: 25px;
}

.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 850px;
    margin: 0 auto;
    padding: 15px 0;
  }

  &__description {
    width: 650px;
    font-size: 14px;
    font-family: @textFont;
    line-height: 32px;
    font-weight: bolder;
    text-align: center;
  }

  &__hero-and-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
      font-size: 35px;
      font-family: @headingFont;
      background:
         -webkit-linear-gradient(@nameGradient-2 0%, @nameGradient-2 100%);
      background:
         -o-linear-gradient(@nameGradient-2 0%, @nameGradient-2 100%);
      background:
         linear-gradient(@nameGradient-2 0%, @nameGradient-2 100%);;
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 0px 0px;
      text-decoration: none;
      transition: background-size .5s;

      &:hover {
        background-size: 4px 50px;
      }
    }

  &__skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }

  &__skill {
    margin: 10px;
    font-size: 14px;
    font-family: @textFont;
    font-weight: bold;
    transition: all .2s;

    &:hover {
      transform: scale(1.2);
      color: @nameGradient-2;
    }
  }
}

.project {
  font-family: @textFont;

  &__page {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px;
  }

  &__title {
    font-family: @headingFont;
    font-size: 45px;
    letter-spacing: 2px;
    background-image: linear-gradient(45deg,
                   @mediaHover,
                   @blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  &__description {
    font-size: 20px;
    line-height: 35px;
    width: 80%;
    font-weight: bolder;
  }

  &__tech {
    display: flex;

    &--item {
      margin: 0 20px 0 0;
      transition: all .2s;

      &:hover {
        transform: scale(1.2);
        color: @nameGradient-2;
      }
    }
  }

  &__github {
    width:fit-content;
    margin: 10px 0 20px 0;
  }

  &__image {
    margin: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    transition: all .5s;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.row {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.column {
  padding: 0 20px;

  & > a {
    display: block;
    transition: all 1s;
    margin-top: 20px;
  }
}

a,a:visited,a:hover,a:active{
  -webkit-backface-visibility: hidden;
           backface-visibility: hidden;
 	position: relative;
  transition: 0.5s color ease;
 	text-decoration: none;
 	color: @textColor;
 }

 a.after:after {
   content: "";
   transition: 0.5s all ease;
   -webkit-backface-visibility: hidden;
           backface-visibility: hidden;
   position: absolute;
 }

 a.after:after {
   bottom: -0.25em;
   height: 3px;
   width: 0;
   background: @mediaHover;
 }

 a.first:after {
   left: 0;
 }

 a.after:hover:after{
   width: 100%;
 }

 .container {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: @blue;
  opacity: .9;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .8s ease;
}

.container:hover .overlay {
  width: 100%;
}

.text {
  font-family: @textFont;
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.image {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.arrow-svg {
  height: 50px;
  width: 50px;
  text-align: center;
  margin-top: 50px;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  fill: @blue;
}


@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
